body {
    background-color: black !important;
  }
  


.center {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;
}
.madwitch {
    position: fixed;
    color: white;
    top: 14%;
    font-size: 40px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;
}
.invitebtn {
    font-size: 60px;
    color: purple;
    position: fixed;
    top: 82vh;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;


}